@{
    ViewData["title"] = "Acceso Denegado";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="cpal" data-color-theme="cpal_Theme" data-layout="vertical">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortalClienteV2</title>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../css/site.css" asp-append-version="true" async />
    <!-- Core Css -->
    <link rel="stylesheet" href="~/assets/css/styles.css" asp-append-version="true" />

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div alt="loader" class="lds-ripple img-fluid">
            <svg>
                <g>
                    <path d="M 50,100 A 1,1 0 0 1 50,0" stroke="#F6AD24" />
                </g>
                <g>
                    <path d="M 50,50 A 1,1 0 0 0 50,-50" stroke="#153AA3" />
                </g>
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="position-relative overflow-hidden min-vh-100 w-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img src="../assets/images/backgrounds/errorimg.svg" alt="" class="img-fluid" width="500">
                            <h1 class="fw-semibold mb-7 fs-9">Ups!!!</h1>
                            <h4 class="fw-semibold mb-7">Esta página que estás buscando no se pudo encontrar o no tienes acceso.</h4>
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Volver a inicar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-transparent sidebartoggler"></div>
    <script src="../assets/js/theme/theme.js"></script>
    <script src="../assets/js/theme/app.min.js"></script>
</body>
</html>
