@{
    ViewData["title"] = "Confirmación de correo";
    Layout = "~/Views/Shared/_LayoutAcceso.cshtml";
}
<div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
    <div class="auth-max-width col-sm-8 col-md-6 col-xl-7 px-4">
        <h2 class="mb-1 fs-7 fw-bolder text-primary"><small>Bienvenido al</small><br /> Portal del usuario</h2>
        @* <h7 class="mb-1 fw-bolder text-primary">Del Instituto de Diagnóstico y Tratamiento CPAL</h7> *@
        <div class="subtitle-warning mb-2"></div>
        <h2 class="mb-1 fs-7 fw-bolder"> <br /><small>Su cuenta ha sido confirmada</small></h2>
        <p class="mb-7">Haga clic en el botón para acceder al Portal del usuario</p>
        <a class="btn btn-primary w-100 py-8 mb-4 rounded-2" asp-area="" asp-controller="Acceso" asp-action="IniciarSesion">Continuar</a>
    </div>
</div>