@model CambiarPasswordViewModel
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["title"] = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">
                    Contraseña
                </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted text-decoration-none" asp-action="Index" asp-controller="Home">Inicio</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Cambiar contraseña</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 15 15" class="cc BTC text-primary fs-7">
                        <path fill="currentColor" d="M11 11h-1v-1h1zm-3 0h1v-1H8zm5 0h-1v-1h1z" />
                        <path fill="currentColor" fill-rule="evenodd" d="M3 6V3.5a3.5 3.5 0 1 1 7 0V6h1.5A1.5 1.5 0 0 1 13 7.5v.55a2.5 2.5 0 0 1 0 4.9v.55a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 0 13.5v-6A1.5 1.5 0 0 1 1.5 6zm1-2.5a2.5 2.5 0 0 1 5 0V6H4zM8.5 9a1.5 1.5 0 1 0 0 3h4a1.5 1.5 0 0 0 0-3z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                    id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button" role="tab"
                    aria-controls="pills-account" aria-selected="true">
                <i class="ti ti-user-circle me-2 fs-6"></i>
                <span class="d-none d-md-block">Account</span>
            </button>
        </li>

    </ul>
    <div class="card-body p-2 p-md-5">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-account" role="tabpanel"
                 aria-labelledby="pills-account-tab" tabindex="0">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card w-100 position-relative overflow-hidden">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Cambiar la contraseña</h5>
                                <p class="card-subtitle mb-4">
                                    Para cambiar su contraseña por favor confirme aquí
                                </p>
                                @if (ViewBag.Exito != null)
                                {
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function (event) {
                                            // Lógica de SweetAlert2
                                            Swal.fire({
                                                title: "Genial !",
                                                text: "@(System.Net.WebUtility.HtmlDecode(ViewBag.Exito))",
                                                icon: "success"
                                            });
                                        });
                                    </script>
                                }
                                @if (ViewBag.Error != null)
                                {
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function (event) {
                                            Swal.fire({
                                                title: "Error !",
                                                text: "@(System.Net.WebUtility.HtmlDecode(ViewBag.Error))",
                                                icon: "error"
                                            });
                                        });
                                    </script>
                                }
                                <form asp-controller="Usuario" asp-action="CambiarPassword" method="post">
                                    <input type="hidden" name="email" value="@UserManager.GetUserName(User)" />

                                    <div class="mb-3">
                                        <label asp-for="Password" class="form-label">Nueva Contraseña</label>
                                        <div class="input-group">
                                            <input asp-for="Password" class="form-control" id="txtPassword" onkeyup="checkPasswordStrength()">
                                            <a class="btn bg-primary-subtle text-primary rounded-end" onclick="toggleShowPassword('Password')">
                                                <i id="iPassword" class="show-password ti ti-eye-off"></i>
                                            </a>
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="ConfirmPassword" class="form-label">Confirmar Contraseña</label>
                                        <div class="input-group">
                                            <input asp-for="ConfirmPassword" class="form-control" id="txtConfirmPassword">
                                            <a class="btn bg-primary-subtle text-primary rounded-end" onclick="toggleShowPassword('ConfirmPassword')">
                                                <i id="iConfirmPassword" class="show-password ti ti-eye-off"></i>
                                            </a>
                                        </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div>
                                        <button type="submit" class="btn btn-primary w-100">Cambiar password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card w-100 position-relative overflow-hidden">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Instrucciones para Cambiar la Contraseña</h5>
                                
                                <p>Para asegurar la seguridad de su cuenta, por favor asegúrese de que su nueva contraseña cumpla con los siguientes requisitos:</p>
                                <ol>
                                    <li>
                                        <strong>Longitud Mínima:</strong> La contraseña debe tener al menos <code>6 caracteres</code>.
                                    </li>
                                    <li>
                                        <strong>Combinación de Caracteres:</strong> Debe incluir:
                                        <ul>
                                            <li><strong>Letras:</strong> Tanto mayúsculas como minúsculas (por ejemplo, <code>A-Z</code> y <code>a-z</code>).</li>
                                            <li><strong>Números:</strong> Al menos un número (por ejemplo, <code>0-9</code>).</li>
                                            <li><strong>Carácter Especial:</strong> Al menos un carácter especial, como <code>!@@#$%^&amp;*</code>.</li>
                                        </ul>
                                    </li>
                                </ol>
                                <div class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-lock">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
                                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                                        <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
                                    </svg>
                                </div>
                                <div id="passwordStrengthIndicator"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function toggleShowPassword(id) {
            var passwordField = document.getElementById("txt" + id);
            var eye = document.getElementById("i" + id);
            console.log(eye)
            //Mostrar u ocultar el password
            if (passwordField.type === "password") {
                passwordField.type = "text";
                eye.classList.remove("ti-eye-off");
                eye.classList.add("ti-eye");
            } else {
                passwordField.type = "password";
                eye.classList.remove("ti-eye");
                eye.classList.add("ti-eye-off");
            }
        }

        function checkPasswordStrength() {
            const password = document.getElementById('txtPassword').value;
            const strengthIndicator = document.getElementById('passwordStrengthIndicator');

            let strength = 0;

            // Verificar la longitud
            if (password.length >= 6) strength++;

            // Verificar si contiene letras mayúsculas
            if (/[A-Z]/.test(password)) strength++;

            // Verificar si contiene letras minúsculas
            if (/[a-z]/.test(password)) strength++;

            // Verificar si contiene números
            if (/\d/.test(password)) strength++;

            // Verificar si contiene caracteres especiales
            if (/[@@$!%*?&_]/.test(password)) strength++;

            // Actualizar el indicador de dificultad
            let strengthClass;
            let strengthtext;
            switch (strength) {
                case 1:
                case 2:
                    strengthClass = 'easy';
                    strengthtext = "Debil ✖"
                    break;
                case 3:
                case 4:
                    strengthClass = 'medium';
                    strengthtext = "Debil  ✖"
                    break;
                case 5:
                    strengthClass = 'hard';
                    strengthtext = "Seguro ✔"
                    break;
                default:
                    strengthClass = '';
                    strengthtext = '';
            }

            strengthIndicator.innerHTML = `<div class="strength-bar ${strengthClass}" style="width: ${strength * 20}%">${strengthtext}</div>`;
        }

    </script>
}