<div style="margin-left: auto; margin-right: auto; width: 650px; height: auto; padding: 10px; border: solid 2px #c9c9c9; border-radius: 15px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="auto" style="background-color: white;">
	<thead>
		<img src="https://intra.cpal.edu.pe/IntraCPALv2/img/CPALIDT-01.png" alt="" width="150" style="margin-inline: 15px;">
	</thead>
	<tbody style="text-align: justify;">
		<tr>
			<td width="600" style="line-height: 20px; color:#074688; Font-Size: 12pt; font-family: Arial, Helvetica, sans-serif;">
				<p style="color:#074688;">Estimado usuario,</p>
				<p style="font-family: 'Arial','sans-serif'; color:#074688;line-height: 1.5;">

					Le informamos que el pago realizado en el Portal del usuario se efectuó
					correctamente.
				</p>
				<p><b>Monto:</b> ||monto||</p>
				<p><b>Fecha:</b> ||fecha_pago||</p>
				<p>||descripcion||</p>

				<p>El comprobante de pago será enviado a este correo electrónico.</span></p>
				<BR>
			</td>
		</tr>
		<tr>
        	<td style="line-height: 20px;  color:#074688; Font-Size: 12pt; font-family: Arial, Helvetica, sans-serif;">
			<span>Saludos cordiales,</span>  	
            	<BR>
            	<BR>
        	</td>
        </tr>
		<tr>
			<td  style="color:#074688; Font-Size: 10pt; font-family: Arial, Helvetica, sans-serif; text-align: center;">
				<span><b>Instituto de Diagnóstico y Tratamiento</b></span>
				<br>
				<span >Teléfono: 01 7410165</span>
				<br>  
				<br>
			</td>
		</tr>
		<tr style="background-color: #ffa237">
			<td colspal="2">
				<br>
			</td>
		</tr>
		<tr style="background-color: #074688; height: 80px;">
			<td colspal="2" style="text-align: center;">
				<span style="color:#FFF; Font-Size: 10pt; font-family: Arial, Helvetica, sans-serif; text-align: center;">Mi dirección - Perú</span>  <br>
																																					  <span style="color:#FFF; Font-Size: 10pt; font-family: Arial, Helvetica, sans-serif; text-align: center;">Mi dirección 2 - Perú</span>  <br>
			</td>

		</tr>
	</tbody>
</table>
</div>